body{
    background-color: rgb(233, 223, 223);
}

.nav-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: darkgrey;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav-main ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.nav-main ul li {
    list-style: none;
    line-height: 30px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial;
    font-size: 16px;
}

.btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-color: darkcyan;
    background-image: url("menuIcon.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

.btn-toggle-nav:hover {
    opacity: 0.5;
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: dimgray;
    z-index: 1000;
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
    background-color: dimgray;
}

.mainBody {
    padding: 60px 0px 0px 60px;
    transition: all 0.3s ease-in-out;
    display: flex;
}

.left-part {
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    margin: 20px;
}

.errorControl {
    width: 320px;
    height: 300px;
    background-color: black;
    text-align: center;
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
}

.errorControlLowSpeed {
    color: white; 
    background-color: green; 
    margin: 5px;
}

.errorControlLowBattery {
    color: white; 
    background-color: green; 
    margin: 5px;
}

.errorControlAngle {
    color: white; 
    background-color: green; 
    margin: 5px;
}

.errorControlImage {
    rotate: 0;
}

.droneModel {
    width: 320px;
    height: 300px;
    background-color: springgreen;
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}

.center-part {
    padding:  70px 0 0 0;
    width: 700px;
    height: 500px;
    margin: 20px;
}

.rigth-part {
    margin: 20px;
}

.stats {
    width: 320px;
    height: 300px;
    background-color: yellow;
    color:black;
    font-family: Arial;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}

.maps {
    width: 320px;
    height: 300px;
}

.span-title{
    text-align: center;
}

#mapid { height: 180px; }


x-model {
    animation: 5s spin linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotateY(1turn);
    }
  }